@{
    ViewBag.Title = "Index";
}

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "PopupControl";
    settings.AllowResize = true;
    settings.ScrollBars = System.Web.UI.WebControls.ScrollBars.Auto;
    settings.ShowHeader = true;
    settings.ShowOnPageLoad = false;
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.OuterMouseClick;
    settings.CloseOnEscape = false;
    settings.Modal = false;
    settings.ShowMaximizeButton = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.Width = 600;

    settings.SetContent(() =>
    {
        ViewContext.Writer.Write("<div id='containerDiv' style='height:100%; widht:100%'>");
        Html.RenderAction("GridViewPartial");
        ViewContext.Writer.Write("</div>");
    });
    settings.ClientSideEvents.AfterResizing = "function(s, e){ GridView.SetHeight(document.getElementById('containerDiv').clientHeight); }";
}).GetHtml()
@Html.DevExpress().Button(settings =>
{
    settings.Name = "Button";
    settings.Text = "Show Popup";
    settings.UseSubmitBehavior = false;
    settings.ClientSideEvents.Click = "function(s, e){ PopupControl.Show(); }";
}).GetHtml()
